[Desktop Entry]
Name=uReadIt
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/uReadIt/uReadIt.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
